{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>About Us</h1>

    
    <section class="section section-md">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-6 mb-5">
                    <img class="organic-radius img-fluid" src="/static/img/City-of-Edmonton.jpg" alt="City of Edmonton">
                </div>
                <div class="col-md-6 col-xl-5 text-center text-md-left">
                    <h2 class="h1 mb-5">All challenges accepted.</h2>
                    <p class="lead">JDK Transit was brought you by a team of developers wanting to provide a better way for Edmontonians to ride transit.</p>
                    <p class="lead">We combine pythonic design and embeded microprocessing systems to adapt and transform your transit system. Matching the demands of our digital age, here and now! </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->

    <!-- Section -->
    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 text-center">
                    <!-- Visit Box -->
                    <div class="icon-box mb-4">
                        <div class="icon icon-primary mb-4">
                            <span class="fas fa-user"></span>
                        </div>
                        <h3 class="h5">Team Members</h3>
                        <span class="counter display-3 text-gray d-block">3</span>
                    </div>
                    <!-- End of Visit Box -->
                </div>
                <div class="col-md-4 col-lg-4 text-center">
                    <!-- Call Box -->
                    <div class="icon-box mb-4">
                        <div class="icon icon-primary mb-4">
                            <span class="fas fa-money-check"></span>
                        </div>
                        <h3 class="h5">Projects Published</h3>
                        <span class="counter display-3 text-gray d-block">0</span>
                    </div>
                    <!-- End of Call Box -->
                </div>
                <div class="col-md-4 col-lg-4 text-center">
                    <!-- Email Box -->
                    <div class="icon-box mb-4">
                        <div class="icon icon-primary mb-4">
                            <span class="fas fa-globe-europe"></span>
                        </div>
                        <h3 class="h5">Project On The Go</h3>
                        <span class="counter display-3 text-gray d-block">1</span>
                    </div>
                    <!-- End of Email Box -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->


    <!-- Section -->
    <section class="section section-lg">
        <div class="container">
            <div class="row mb-5 mb-lg-6">
                <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                    <h2 class="h1 mb-4">Funny &amp; Creative Team</h2>
                    <p class="lead">A team of friends that started from humble beginnings (out of each others condos), to taking on extraordinary projects such as the paperless ETS/LRT system.
                    </p>
                    <p class="lead">If you need us, we will be there.
                    </p>
                </div>
            </div>
            <div class="row mb-5 mb-lg-6">
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow border-gray-300">
                        <img src="/static/img/team/profile-picture-2.jpg" class="card-img-top rounded-top" alt="Jae portrait">
                        <div class="card-body">
                            <h3 class="h4 card-title mb-2">Jae Kim</h3>
                            <span class="card-subtitle text-gray fw-normal">Co-Founder/Software Developer</span>
                            <p class="card-text my-3">Jae is currently attending Grant Macewan University as a fourth year student,
                                he is our web dev & pizza eating specialist. Who enjoys socializing with friends on his time off.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow border-gray-300">
                        <img src="/static/img/team/profile-picture-3.jpg" class="card-img-top rounded-top" alt="Dylan portrait">
                        <div class="card-body">
                            <h3 class="h4 card-title mb-2">Dylan Jones</h3>
                            <span class="card-subtitle text-gray fw-normal">Co-Founder/Software Developer</span>
                            <p class="card-text my-3">Dylan is currently attending Grant Macewan University as a fourth year student,
                                 he is our database specialist. Who enjoys working out at the gym on his time off.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow border-gray-300">
                        <img src="/static/img/team/profile-picture-1.jpg" class="card-img-top rounded-top" alt="Kyler Portrait">
                        <div class="card-body">
                            <h3 class="h4 card-title mb-2">Kyler Renz</h3>
                            <span class="card-subtitle text-gray fw-normal">Co-Founder/Software Developer</span>
                            <p class="card-text my-3">Kyler is currently attending Grant Macewan University as a fourth year student,
                                he is our Raspbian pi specialist. Who enjoys back country camping on his time off.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->


{% endblock %}