{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
    <h1>Contact Us</h1>

    <!-- Contact Card -->
    <div class="card border-0 p-2 p-md-3 p-lg-5">
        <div class="card-header bg-white border-0 text-center">
            <h2>Problems, questions or concerns?</h2>
            <p>Please leave your name and email and we will get back to you in an orderly fashion.</p>
        </div>
        <div class="card-body pt-0">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/bscontact_form.html' with form=form %}
              
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
                
                <!-- <button type="submit">Submit</button> -->

            </form>
        </div>
    </div>
    <!-- End of Contact Card -->


{% endblock %}