{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Safety Rules</h1>

    <div class="card border-0 p-2 p-md-3 p-lg-5">
        <div class="card-header bg-white border-0 text-center">
            <h2>Lets Keep Everyone Safe</h2>
            <p>Masks are still mandatory as of January 01 2022, until further notice.</p>
            <p>Please check back frequently, for updates about our mask mandates, how to 
                keep yourself and others safe on ETS/LRT, awareness of frequent events on
                the ETS/LRT.</p>
        </div>
    </div>

    <section class="section section-md">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-6 mb-5">
                    <img class="organic-radius img-fluid" src="/static/img/blue-emergency.jpg" alt="Blue Emgergency Phone">
                </div>
                <div class="col-md-6 col-xl-5 text-left text-md-left">
                    <h2>Emergency Phones and Buttons.</h2>
                    <p class="lead">JDK Transit has placed BLUE terminal phones for emergencies, all across our ETS and LRT transit routes.</p>
                    <p class="lead">By pressing the button on the device, you will be automatically connected to a live personnel at the EPS emergency call center.</p>
                    <p class="lead">Try and voice your emgergency as clearly as possible, each device is equipped with a GPS to for us to send over coordinates to our emergency staff asap.</p>
                    <p class="lead">Phones are always avaialble and active 24/7, if you notice a terminal is damaged or isn't working properly please call 311 and report the device.</p>
                    <p class="lead"> </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-md">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-6 mb-5">
                    <img class="organic-radius img-fluid" src="/static/img/bus_camera.jpg" alt="Bus camera">
                </div>
                <div class="col-md-6 col-xl-5 text-left text-md-left">
                    <h2>Closed Circuit Television.</h2>
                    <p class="lead">JDK Transit has the rights to record and monitor suspicious behaviours on our transit system.</p>
                    <p class="lead">You as our consumer can also request access to any of our data, by emaling us the date, time and bus number.</p>
                    <p class="lead">Videos constantly viewed daily by our latest AI system to detect suspicious activity, sponsored by our parent company "Minority Report"</p>
                </div>
            </div>
        </div>
    </section>

    <div class="card border-0 p-2 p-md-3 p-lg-5">
        <div class="card-header bg-white border-0 text-center">
            <h2>Report your Emergency</h2>
        </div>
    </div>

    <footer class="footer pt-6 pb-5 white text-black">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <span class="h5">Report Your Emergency</span>
                    <p class="text-muted font-small mt-2">For immediate assistance for emergencies:
                        <ul>
                            <li>
                            <h6>Call <a href="tel:9xx">9xx</a></h6>
                            </li>
                        </ul>
                    </p>
                </div>

                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <span class="h5">Transit Watch</span>
                    <p class="text-muted font-small mt-2">To report safety concerns, like harrassment or suspicious behaviour:
                        <ul>
                            <li>Call <a href="tel:780-442-4xxx">780-442-4xxx</a></li>
                            <li>Text <a href="sms:780-442-4xxx">780-442-4xxx</a></li>
                        </ul>
                    </p>
                </div>

                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <span class="h5">Report Vandalism</span>
                    <p class="text-muted font-small mt-2">Please contact to this number, if you see someone damaging ETS equipment or property:
                        <ul>
                            <li>Call <a href="tel:780-442-4xxx">780-442-4xxx</a></li>
                            <li>Text <a href="sms:780-442-4xxx">780-442-4xxx</a></li>
                        </ul>
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <div class="col-md-15 col-xl-15 mb-5">
        <img class="organic-radius img-fluid" src="/static/img/transitpolice.jpg" alt="transitpolice">
    </div>





{% endblock %}